body {
  background-color: #f2f2f2;
  height: 100%;
}
.App {
  text-align: center;
}

.login, .signup {
  height: 100vh;
  background-color:rgba(255, 255, 255, 0.9);
  margin: 0px;
}
.signup {
  width: 100vw;
}